.container{
    background-image: linear-gradient(#090979,#00d4ff) ;
}
.todo-container{
    background-color: #D4F872;
    color: grey;
    margin: 4rem auto;
}

@media  screen and (max-width: 850px){
    .todo-container{
        width: 100% !important;
    }
    .form{
        flex-direction: column !important;
    }
    .form button {
        margin-top: 10px !important ;
        margin-left: 0 !important;
        width: 100% !important;
    }
}